.about-wrap {
    padding: 100px 0;
    background: #fff;

    // Portrait image
    .portrait-wrap {
        max-width: 500px;
        border: 8px solid #fff;
        box-shadow: 0 0 30px rgba(0,0,0,.2);
        height: 560px;
        background: red;
        margin: 0 auto;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}