header {
    min-height: 600px;
    position: relative;
    padding-bottom: 20px;

    

    .details-wrap {
        margin: 100px 0 40px;

        .details-wrap--intro {
            font-size: 3.125em;
            font-family: 'shadows_into_lightregular';
            color: #fff;
            text-align: center;
            margin-bottom: 40px;
        }

        .details-wrap--name {
            font-size: 5em;
            font-family: 'source_sans_prosemibold';
            color: #fff;
            letter-spacing: 3px;
            text-align: center;
            margin-bottom: 5px;
        }

        .details-wrap--title {
            font-size: 2.25em;
            font-family: 'shadows_into_lightregular';
            color: #fff;
            text-align: center;
        }
    }

    .contact-wrap {
        text-align: center;
        margin: 50px 0 75px;
        

        .contact-wrap--link {
            display: inline-block;
            text-decoration: none;
            outline: none;
            padding: 0 40px;
            color: #fff;
            background: $primary-color;
            transition: 0.3s;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: 'source_sans_proregular';
            height: 45px;
            line-height: 53px;
            
            &:hover {
                background: #21cff3;
            }
        }
        
    }

    .scroll-down-wrap {
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        padding-top: 5px;
        color: #fff;
    }

    
}


#logo {
    float: left;
    margin-top: 15px;
    @include transition(0.3s);

    a {
        display: block;
        position: relative;
        text-decoration: none;

        img {
            position: absolute;
            width: 100%;
            max-width: 28px;
            @include transition(0.3s);
        }

    }

    .logo--initials {
        color: $primary-color;
        margin-left: 40px;
        font-size: 28px;
        transform: translateY(10%);
        font-family: 'shadows_into_lightregular';
        @include transition(0.3s);
    }
    
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    // min-height: 50px;
    box-shadow: 0 3px 6px 3px rgba(0,0,0,.06);
    @include transition(0.3s);

    ul {
        float: right;

        li {
            float: left;

            a {
                display: inline-block;
                text-decoration: none;
                outline: none;
                font-size: 13px;
                font-family: 'source_sans_probold';
                color: #222; 
                text-transform: uppercase;
                padding: 25px 15px;
                letter-spacing: 1px;
                transition: 0.3s;
                font-weight: bold;
            }

            &:hover {
                a {
                    color: $primary-color;
                }
            }
        }

        li.active {
            a {
                color: $primary-color;
            }
        }
    }
}

#main-nav.small {
    ul {
        li {
            a {
                padding: 10px 15px;
            }
        }
    }

    #logo {
        margin-top: 5px;
    
        img {
            max-width: 20px;
        }

        .logo--initials {
            margin-left: 31px;
            font-size: 22px;
            transform: translateY(10%);
        }
    }
}

// Social Icons
.social-icons-wrap {
    text-align: center;

    .social-icons-wrap--icon-link {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        background: #fff;
        color: #333;
        text-decoration: none;
        outline: none;
        margin: 0 10px;
        line-height: 35px;
        transition: 0.3s;
    }

    .social-icons-wrap--icon-link.facebook {
        &:hover {
            color: #fff;
            background: #3b5999;
        }
    }

    .social-icons-wrap--icon-link.google {
        &:hover {
            color: #fff;
            background: #ce332a;
        }
    }

    .social-icons-wrap--icon-link.linkedin {
        &:hover {
            color: #fff;
            background: #1260a2;
        }
    }

    .social-icons-wrap--icon-link.github {
        &:hover {
            color: #fff;
            background: #000;
        }
    }    
}

// Scroll Top button
.scroll-top {
    display: none;
    position: fixed;
    bottom: 17px;
    right: 17px;
    width: 40px;
    height: 40px;
    background: $primary-color;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;

    svg {
        height: 40px;
        color: #fff;
    }
}