#portfolio-sec {
    background: #f0f0f0;
    padding: 60px 0;
    position: relative;

    .portfolio-sec--title {
        text-align: center;
        letter-spacing: 1px;
        color: #252525;
        font-size: 38px;
        font-family: 'source_sans_probold';
        margin-bottom: 30px;
    }

    .portfolio-wrap {
        max-width: 800px;
        height: 400px;
        margin: 0 auto;
        background: #000;
        overflow: hidden;
        position: relative;

        .portfolio-image {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            z-index: 1;
            height: 100%;
            text-decoration: none;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }

        .portfolio-details {
            height: 200px;
            background: #fff;
            margin-top: 400px;
            @include transition(0.3s);
            position: relative;
            z-index: 2;
            padding: 30px 0;
            
            .portfolio-details--title {
                text-align: center;
                letter-spacing: 1px;
                color: #252525;
                font-size: 25px;
                font-family: 'source_sans_probold';
                margin-bottom: 40px;

                a {
                    text-decoration: none;
                    color: #252525;
                    @include transition(0.3s);

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .portfolio-details--desc {
                line-height: 24px;
                text-align: center;
                font-family: 'source_sans_proregular';
                font-size: 17px;
                color: #666;
                padding: 0 30px;
                max-width: 600px;
                margin: 0 auto;
            }
        }

        &:hover {
            .portfolio-details {
                margin-top: 200px;
            }
        }
    }

}

// Slider styles 
#portfolio-slider {
    .owl-nav {
        .owl-prev {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto auto auto 30px;
            font-size: 16px;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 42px;
            background: $primary-color;
            border-radius: 2px;
            color: #fff;
            opacity: 0;
            @include transition(0.3s);
        }

        .owl-next {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto 30px auto auto;
            font-size: 16px;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 42px;
            background: $primary-color;
            border-radius: 2px;
            color: #fff;
            opacity: 0;
            @include transition(0.3s);
        }
    }

    &:hover {
        .owl-prev {
            margin-left: 10px;
            opacity: 1
        }

        .owl-next {
            margin-right: 10px;
            opacity: 1;
        }
    }
}