#portfolio-sec {
    background: #f0f0f0;
    padding: 60px 0;

    .portfolio-sec--title {
        text-align: center;
        letter-spacing: 1px;
        color: #252525;
        font-size: 38px;
        font-family: 'source_sans_probold';
        margin-bottom: 48px;
    }

    .portfolio-wrap {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        background: red;
    }

    .portfolio-wrap.blue {
        background: blue;
    }
}