.skills-sec {
    background: #fff;
    padding: 80px 0 100px;

    .skills-sec--title {
        text-align: center;
        letter-spacing: 1px;
        color: #252525;
        font-size: 38px;
        font-family: 'source_sans_probold';
        margin-bottom: 48px;
    }

    .skills-title {
        text-align: center;
        letter-spacing: 1px;
        color: #252525;
        font-size: 18px;
        font-family: 'source_sans_probold';
        margin-bottom: 30px;
    }

    .skills-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        li {
            display: inline-block;
            width: 200px;
            height: 40px;
            line-height: 44px;
            position: relative;
            background: #f0f0f0;
            border-radius: 50px;
            text-align: left;
            padding-left: 80px;
            margin-bottom: 15px;
            font-family: 'source_sans_proregular';
            @include transition(0.3s);

            img {
                position: absolute;
                top: 50%;
                left: 50px;
                width: 20px;
                height: 20px;
                transform: translateY(-50%);
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}