.skills-sec {
    background: #fff;
    padding: 80px 0 100px;

    .category-wrap {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 50px;
    }

    .skills-sec--title {
        text-align: center;
        letter-spacing: 1px;
        color: #252525;
        font-size: 38px;
        font-family: 'source_sans_probold';
        margin-bottom: 48px;
    }

    .skills-title {
        text-align: center;
        letter-spacing: 1px;
        color: #252525;
        font-size: 18px;
        font-family: 'source_sans_probold';
        margin-bottom: 10px;
    }

    .skills-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        li {
            display: inline-block;
            margin: 10px;
            @include transition(0.3s);

            img {
                display: block;
                height: 64px;
                width: auto;
                @include gray-filter(100%);
                @include transition(0.3s);

                &:hover {
                    @include gray-filter(0%);
                }
            }

            &:hover {
                color: $primary-color;
            }

            @media only screen and (min-width: 901px) {
                margin: 10px 20px;
            }
        }
    }
}