.skills-sec {
    background: #252525;
    padding: 60px 0;

    .skills-title {
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        font-size: 38px;
        font-family: 'source_sans_probold';
        margin-bottom: 30px;
    }

    .skills-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        li {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            margin: 0 15px 10px;
            min-height: 64px;
            min-width: 64px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}